<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/js/vue.min.js"></script>
  <style>
    .inactive {
      color: grey;
      text-decoration: line-through;
      font-style: oblique;
    }
    .active {
      color:green;
    }
    .list-item {
        margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }
    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="addTodo">
      <input type="text" v-model="todo_txt">
    </form>
    <ul>
      <transition-group name="list" tag="p">
<li v-for="todo in todos" :key="todo.id" class="list-item">
  <span @click="toggleStatus(todo)" :class="{'inactive': !todo.status, 'active': todo.status}">
          <b>{{ todo.title }}</b>
  </span>
  <button @click="hapusTodo(todo)">x</button>
</li>
</transition-group>
</ul>
Active Todo: {{ active }}
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        todo_txt: '',
        todos: [],
        id: 1,
      },
      computed: {
        active: function() {
          var activeTodos = this.todos.filter(function(todo) {
            return todo.status
          });
          return activeTodos.length;
        }
      },
      methods: {
        addTodo: function() {
          this.todos.push({
            id: this.id,
            title: this.todo_txt,
            status: true
          });
          this.todo_txt = ''
          this.id = this.id + 1;
        },
        hapusTodo: function(todo) {
          var index = this.todos.findIndex(function(t){
            return t.id == todo.id;
          });
          this.todos.splice(index, 1);
        },
        toggleStatus: function(todo) {
          var target = this.todos.find(function(t){
            return t.id == todo.id
          })
          target.status = !target.status
        }
      }
    });
  </script>
</body>
</html>