<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/js/vue.min.js"></script>
  <style>
    .inactive {
      color: grey;
      text-decoration: line-through;
      font-style: oblique;
    }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="addTodo">
      <input type="text" v-model="todo_txt">
    </form>
    <ul>
      <li v-for="todo in todos">        
          {{ todo.title }}        
        <button @click="hapusTodo(todo)">x</button>
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        todo_txt: '',
        todos: [],
        id: 1,
      },      
      methods: {
        addTodo: function() {
          this.todos.push({
            id: this.id,
            title: this.todo_txt,
            status: true
          });
          this.todo_txt = ''
          this.id = this.id + 1;
        }        
      }
    });
  </script>
</body>
</html>